.slides.template-2013naad > article {
    padding: 80px 90px;
}

.slides.template-2013naad > article:not(.nobackground):not(.front-page) {
    background-image: url('../images/tw-logo-opacity-60.png'),
                      url('../images/general-page-left-bg.png'),
                      url('../images/general-page-right-bg.png');
    background-position: 95% 95%, left 32%, right 60%;
    background-repeat: no-repeat;
    background-size: 20%, 8%, 8%;
    background-color: white;  
} 

.slides.template-2013naad article.front-page {
    background-image: url('../images/tw-logo-opacity-60.png'),
                      url('../images/first-page-fist.png'), 
                      url('../images/first-page-left-bg.png'), 
                      url('../images/first-page-right-bg.png');
    background-position: 95% 95%, left 3%, left 80%, right 70%;
    background-repeat: no-repeat;
    background-size: 20%, 15%, 7%, 7%;
}

.slides.template-2013naad article img {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.slides.template-2013naad article img.full-slide-image {
    max-width: 80%;
    max-height: 80%;
}

.slides.template-2013naad article img.greedy-slide-image {
    max-width: 88%;
    max-height: 88%;
}

.slides.template-2013naad article img.medium-slide-image {
    max-width: 40%;
    max-height: 40%;
	display: inline;
	margin: 10px;
}

.slides.template-2013naad article img.small-slide-image {
    max-width: 20%;
    max-height: 20%;
	display: inline;
	margin: 10px;
}

.slides.template-2013naad article h5 {
    margin: 10px 0;
}

.slides.template-2013naad article.smaller pre {
    margin: 0px;
    font-size: 14px;
    line-height: 14px;
}

.slides.template-2013naad article.smaller pre.tiny {
    margin: 0px;
    font-size: 13px;
    line-height: 13px;
}

.slides.template-2013naad article .presenter-notes {
    display: none;
}


.slides.template-2013naad article ul ul {
    font-size: 25px;
    line-height: 30px;
}

.slides.template-2013naad article div.left-comparison-50 {
    width: 49%;
    float: left;
}

.slides.template-2013naad article div.right-comparison-50 {
    width: 49%;
    float: right;
}

.slides.template-2013naad article div.left-comparison-40 {
    width: 37%;
    float: left;
}

.slides.template-2013naad article div.right-comparison-60 {
    width: 61%;
    float: right;
}

.slides.template-2013naad article div.specs2-img {
	display:block;
	background:transparent url("../images/specs2.png") no-repeat;
}